footer{
  background: #F8F8F8;
  .footer-inner{
    text-align: center;
    .footer-title{
      padding-top: 43px;
      margin-bottom: 21px;
      font-size: 2.4rem;
      line-height: 1.2;
    }
    ul{
      display: flex;
      justify-content: center;
      margin-bottom: 52px;
      li{
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.75;
        @include mq-down(md) {
          font-size: 1.4rem;
        }
        a{
        color: $txt-color;
        }
      }
      li:first-child{
        margin-right: 29px;
      }
    }
    .copy-right{
      padding-bottom: 49px;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.4;
    }
  }
}
